<div class="m-image">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xxl-10 mx-auto">
                <img class="m-image__image" src="{{ block.image.cropped().url }}" alt="">
            </div>
        </div>
    </div>
</div>
